<nav class="nav-side slide-in nav-side--sub">
  <header class="nav-side-header">
    <div class="nav-side-header-title">Manage</div>
  </header>

  <section class="nav-side-body">
    <ul class="nav-side-list">
      <li class="nav-side-list-item">
        {{#link-to 'manage.hosts'}}Hosts{{/link-to}}
      </li>
      <li class="nav-side-list-item">
        {{#link-to 'manage.host-groups'}}Host Groups{{/link-to}}
      </li>
    </ul>

    <ul class="nav-side-list">
      <li class="nav-side-list-item">
        <a href="#">Commands</a>
      </li>
      <li class="nav-side-list-item">
        <a href="#">Services</a>
      </li>
      <li class="nav-side-list-item">
        <a href="#">Service Groups</a>
      </li>
    </ul>

    <ul class="nav-side-list">
      <li class="nav-side-list-item">
        <a href="#">Users</a>
      </li>
      <li class="nav-side-list-item">
        {{#link-to 'manage.customers'}}Customers{{/link-to}}
      </li>
      <li class="nav-side-list-item">
        <a href="#">Roles</a>
      </li>
    </ul>

    <ul class="nav-side-list">
      <li class="nav-side-list-item">
        <a href="#">Operating Systems</a>
      </li>
      <li class="nav-side-list-item">
        <a href="#">Architectures</a>
      </li>
      <li class="nav-side-list-item">
        <a href="#">Host Types</a>
      </li>
      <li class="nav-side-list-item">
        <a href="#">Global Settings</a>
      </li>
      <li class="nav-side-list-item">
        <a href="#">Alert Templates</a>
      </li>
      <li class="nav-side-list-item">
        <a href="#">Alert Schedulers</a>
      </li>
    </ul>
  </section>
</nav>
