<h1>Welcome to SyMonitoring</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">New alerts</h2>
  </div>
  <div class="panel-body">
    There are 0 new alerts.
  </div>
</div>
