<nav class="nav-side slide-in nav-side--sub">
  <header class="nav-side-header">
    <div class="nav-side-header-title">Maintenance</div>
  </header>

  <section class="nav-side-body">
    <ul class="nav-side-list">
      <li class="nav-side-list-item">
        <a href="#">Tickets</a>
      </li>
      <li class="nav-side-list-item">
        <a href="#">History</a>
      </li>
      <li class="nav-side-list-item">
        <a href="#">Checklists</a>
      </li>
      <li class="nav-side-list-item">
        <a href="#">Hosts</a>
      </li>
      <li class="nav-side-list-item">
        <a href="#">Maintenance groups</a>
      </li>
    </ul>
  </section>
</nav>
