<h1>{{model.name}}</h1>

<ul class="nav nav-tabs">
  <li>
    {{#link-to 'manage.customers.customer.edit' model}}
      Edit
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'manage.customers.customer.info' model}}
      Information
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'manage.customers.customer.permissions' model}}
      Permissions
    {{/link-to}}
  </li>
</ul>
<div class="tab-content">{{liquid-outlet}}</div>
