<h1>Host ID {{model.id}} <small>{{model.hostname}}</small></h1>

<ul class="nav nav-tabs">
  <li>
    {{#link-to 'manage.hosts.host.edit' model}}
      Information
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'manage.hosts.host.services' model}}
      Services
    {{/link-to}}
  </li>
</ul>
<div class="tab-content">{{liquid-outlet}}</div>
