<h1>{{model.hostname}} <small>Host ID {{model.id}}</small></h1>

<ul class="nav nav-tabs">
  <li>
    {{#link-to 'manage.hosts.host.edit' model}}
      Edit
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'manage.hosts.host.services' model}}
      Services
    {{/link-to}}
  </li>
</ul>
<div class="tab-content">{{liquid-outlet}}</div>
