<div class="dialog-content dialog-content--small">
  <h4>Nightshift <small>(01:00 - 01:59)</small></h4>

  <dl>
    <dt>Cycle delay</dt>
    <dd>5</dd>

    <dt>Restart delay</dt>
    <dd>5</dd>

    <dt>Timeout</dt>
    <dd>20</dd>
  </dl>

  <dl>
    <dt class="block">Email after <strong>0</strong> minutes</dt>
    <dd>Mo</dd><dd>Tu</dd><dd>We</dd><dd>Th</dd><dd>Fr</dd><dd>Sa</dd><dd>Su</dd>

    <dt class="block">SMS text after <strong>3</strong> minutes</dt>
    <dd>Mo</dd><dd>Tu</dd><dd>We</dd><dd>Th</dd><dd>Fr</dd><dd>Sa</dd><dd>Su</dd>

    <dt class="block">Phone call after <strong>5</strong> minutes</dt>
    <dd>Mo</dd><dd>Tu</dd><dd>We</dd><dd>Th</dd><dd>Fr</dd><dd>Sa</dd><dd>Su</dd>
  </dl>

  <h4>No Alarm</h4>

  <dl>
    <dt>Cycle delay</dt>
    <dd>1</dd>

    <dt>Restart delay</dt>
    <dd>10</dd>

    <dt>Timeout</dt>
    <dd>20</dd>
  </dl>

  <p>
    No timeframes have been defined.
  </p>

  <h4>Premium <small>(24/7)</small></h4>

  <dl>
    <dt>Cycle delay</dt>
    <dd>5</dd>

    <dt>Restart delay</dt>
    <dd>5</dd>

    <dt>Timeout</dt>
    <dd>20</dd>
  </dl>

  <dl>
    <dt class="block">Jabber, Messages over the XMP protocol after <strong>0</strong> minutes</dt>
    <dd>Mo</dd><dd>Tu</dd><dd>We</dd><dd>Th</dd><dd>Fr</dd><dd>Sa</dd><dd>Su</dd>
  </dl>
</div>

<div class="dialog-footer">
  <button type="button" class="btn btn-primary" {{action 'dismiss'}}>
    OK
  </button>
</div>
