<div class="panel-heading">
  <h3 class="panel-title">Hoster information <small>Customer ID 1</small></h3>
</div>
<table class="table">
  <tbody>
    <tr>
      <td><label for="name">Name:</label></td>
      <td colspan="3"><input class="form-control" id="name" name="name" maxlength="255" value="" type="text"></td>
    </tr>
    <tr>
      <td><label for="address">Address:</label></td>
      <td><input class="form-control" id="address" name="address" value="" type="text"></td>
      <td><label for="mayContact">May contact:</label></td>
      <td><input class="form-control" id="mayContact" name="mayContact" type="checkbox"></td>
    </tr>
    <tr>
      <td><label for="contactTechnical">Technical contact:</label></td>
      <td><input class="form-control" id="contactTechnical" name="contactTechnical" value="" type="text"></td>
      <td><label for="contactCommercial">Commercial contact:</label></td>
      <td><input class="form-control" id="contactCommercial" name="contactCommercial" value="" type="text"></td>
    </tr>
    <tr>
      <td><label for="phoneRegular">Phone regular:</label></td>
      <td><input class="form-control" id="phoneRegular" name="phoneRegular" value="" type="text"></td>
      <td><label for="phoneEmergency">Phone emergency:</label></td>
      <td><input class="form-control" id="phoneEmergency" name="phoneEmergency" value="" type="text"></td>
    </tr>
    <tr>
      <td><label for="comment">Comment:</label></td>
      <td colspan="3"><textarea name="comment" class="form-control"></textarea></td>
    </tr>
  </tbody>
</table>
