<form method="post" {{action 'save' on='submit'}}>
  <div class="grid grid--12of12 grid-sm--6of12">
    <div class="grid-cell grid-cell--12of12 form-group">
      <label for="name">Name:</label>
      <input class="form-control" id="name" maxlength="255" value="" type="text">
    </div>

    <div class="grid-cell form-group">
      <label for="address">Address:</label>
      <input class="form-control" id="address" value="" type="text">
    </div>

    <div class="grid-cell checkbox grid-cell--align-center">
      <input class="form-control" id="mayContact" type="checkbox">
      <label for="mayContact">May contact</label>
    </div>

    <div class="grid-cell form-group">
      <label for="contactTechnical">Technical contact:</label>
      <input class="form-control" id="contactTechnical" value="" type="text">
    </div>

    <div class="grid-cell form-group">
      <label for="contactCommercial">Commercial contact:</label>
      <input class="form-control" id="contactCommercial" value="" type="text">
    </div>

    <div class="grid-cell form-group">
      <label for="phoneRegular">Phone regular:</label>
      <input class="form-control" id="phoneRegular" value="" type="text">
    </div>

    <div class="grid-cell form-group">
      <label for="phoneEmergency">Phone emergency:</label>
      <input class="form-control" id="phoneEmergency" value="" type="text">
    </div>

    <div class="grid-cell grid-cell--12of12 form-group">
      <label for="comment">Comment:</label>
      <textarea name="comment" class="form-control"></textarea>
    </div>
  </div>
</form>
