<nav class="nav-side slide-in nav-side--sub">
  <header class="nav-side-header">
    <div class="nav-side-header-title">Monitoring</div>
  </header>

  <section class="nav-side-body">
    <ul class="nav-side-list">
      <li class="nav-side-list-item">
        {{#link-to 'monitoring.alerts' (query-params state='new')}}
          New alerts
        {{/link-to}}
      </li>
      <li class="nav-side-list-item">
        {{#link-to 'monitoring.alerts' (query-params state='open')}}
          Open alerts
        {{/link-to}}
      </li>
      <li class="nav-side-list-item">
        {{#link-to 'monitoring.alerts' (query-params state='closed')}}
          Closed alerts
        {{/link-to}}
      </li>
      <li class="nav-side-list-item">
        <a href="#">Notifications</a>
      </li>
    </ul>

    <ul class="nav-side-list">
      <li class="nav-side-list-item">
        {{#link-to 'monitoring.downtimes'}}Downtimes{{/link-to}}
      </li>
      <li class="nav-side-list-item">
        <a href="#">On-call teams</a>
      </li>
    </ul>

    <ul class="nav-side-list">
      <li class="nav-side-list-item">
        <a href="#">Export config</a>
      </li>
      <li class="nav-side-list-item">
        <a href="#">Import config</a>
      </li>
    </ul>
  </section>
</nav>
