<nav class="nav-side slide-in nav-side--sub">
  <header class="nav-side-header">
    <div class="nav-side-header-title">Monitoring</div>
  </header>

  <section class="nav-side-body">
    <ul class="nav-side-list">
      <li class="nav-side-list-item">
        <a href="#">New alerts</a>
      </li>
      <li class="nav-side-list-item">
        <a href="#">Open Alerts</a>
      </li>
      <li class="nav-side-list-item">
        <a href="#">Closed Alerts</a>
      </li>
      <li class="nav-side-list-item">
        <a href="#">Notifications</a>
      </li>
    </ul>

    <ul class="nav-side-list">
      <li class="nav-side-list-item">
        <a href="#">Downtimes</a>
      </li>
      <li class="nav-side-list-item">
        <a href="#">On-call teams</a>
      </li>
    </ul>

    <ul class="nav-side-list">
      <li class="nav-side-list-item">
        <a href="#">Export config</a>
      </li>
      <li class="nav-side-list-item">
        <a href="#">Import config</a>
      </li>
    </ul>
  </section>
</nav>
